/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/


.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-overlay1 {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay, .md-show ~ .md-overlay1 {
	opacity: 1;
	visibility: visible;
}

/* -------------------Content styles EMAILS---------------------- */
.md-content {
	color: #e85657;
	background: #FEF0E3;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	padding-right:0px;
}

.md-content {
	position: relative;
	text-align: left;
	/*left:-150px;*/
	font-family:'Lato',Arial;
	font-weight:400;
	width:550px;
	padding-bottom:60px;
}

.md-content h2 {
	text-align: center;
	font-weight: 300;
	font-size: 45px;
	font-weight:300;
	margin-top:15px;
	margin-bottom:20px;
	font-family:inherit;
}

.md-content form {
	margin:0 auto 0;
	position:relative;
	width:350px;
	height:520px;
	left:-10px;
}

.md-content form p {
	margin: 0 0 5px 0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.md-content label {
	display: block;
	padding: 10px 0 2px;
	color: #d5bba4;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.md-content input[type="text"],
.md-content input[type="password"]{
	padding: 8px;
	width: 100%;
	border: 2px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content select{
	padding: 8px;
	width: 106%;	
	border: 2px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-size:  16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content textarea{
	padding: 10px;
	width: 100%;
	border: 2px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content input[type="text"]:focus,
.md-content input[type="password"]:focus,
.md-content textarea:focus,
.md-content select:focus {
	border-color: #e75854;
	color: #e75854;
}

.md-content select option {
	background-color:#E75854;
	color:#FEF0E3;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content input:focus, .md-content textarea:focus, .md-content select:focus {
	outline: 0;
}

.md-content button {
	display: block;
	width: 80%;
	height:50px;
	margin:0px auto 0px;
	border: none;
	background: #e75854;
	color: #f9f6e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.25em;
	font-family:'Lato',Arial;
	cursor:pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
	position:absolute;
	top:500px;
	right:20px;
	bottom:0px;
}

.md-content button:hover {
	background-color:#eb7572;
}

/* -------------------Content styles LANDING PAGES----------------- */
.md-content1 {
	color: #e85657;
	background: #FEF0E3;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	padding-right:0px;
}

.md-content1 {
	position: relative;
	text-align: left;
	width:950px;
	left:-150px;
	font-family:'Lato',Arial;
	font-weight:400;
	padding-bottom:10px;
}

.md-content1 h2 {
	text-align: center;
	font-weight: 300;
	font-size: 45px;
	font-weight:300;
	margin-top:15px;
	margin-bottom:20px;
	font-family:inherit;
}

.md-content1 form {
	width:900px;
	height:520px;
	margin:0 auto 0;
	position:relative;
}

.md-content1 form p {
	margin: 0 0 5px 0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.md-content1 label {
	display: block;
	padding: 10px 0 2px;
	color: #d5bba4;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.md-content1 input[type="text"],
.md-content1 input[type="password"]{
	padding: 8px;
	width: 100%;
	border: 2px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content1 input[type="checkbox"]{
	width:15px;
	height:15px;
}

.md-content1 select{
	padding: 8px;
	width: 106%;	
	border: 2px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-size:  16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content1 textarea{
	padding: 10px;
	width: 100%;
	border: 2px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content1 input[type="text"]:focus,
.md-content1 input[type="password"]:focus,
.md-content1 textarea:focus,
.md-content1 select:focus {
	border-color: #e75854;
	color: #e75854;
}

.md-content1 select option {
	background-color:#E75854;
	color:#FEF0E3;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

.md-content1 input:focus, .md-content1 textarea:focus, .md-content1 select:focus {
	outline: 0;
}

.md-content1 button {
	display: block;
	width: 40%;
	height:60px;
	margin:0px auto 0px;
	border: none;
	background: #e75854;
	color: #f9f6e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.25em;
	font-family:'Lato',Arial;
	cursor:pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
	position:absolute;
	top:440px;
	right:260px;
	bottom:0px;
}

.md-content1 button:hover {
	background-color:#eb7572;
}

/* md-content1 breaking Form Styles */
body .md-content1 .firstHalfForm{
	width:350px;
	float:left;
	margin-right:50px;
	margin-left:50px;
}

body .md-content1 .secondHalfForm{
	width:350px;
	float:left;
	margin-left:30px;
}

.formDividerLine{
	height: 390px;
	width: 1px;
	margin-top:10px;
	background-color: #fff;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #EBD3BD;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content, .md-effect-1 .md-content1 {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content, .md-show.md-effect-1 .md-content1 {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

