@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*------ COLOR PALLET-----*/
/*
#565347  :  GREY(link & Paragraph)
#81785a  :  LIGHT GREY(border bottom)
#820000  :  RED(Headings)
#eae9e6  :  BORDER
*/

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img, div {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color:inherit;
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

.bold{
	font-weight:bold;
}

.boldCreamColor{
	font-weight:bold;
	color:#caaa8d;
}

.transition{
	-webkit-transition: .2s;
	transition: .2s;
}

.transition1{
	-webkit-transition: .1s;
	transition: .1s;
}


/* Shadows */
.templateAllShadow {
-moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
-webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
}

/*.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 5px grey;
}*/

.allShadow {
-moz-box-shadow: 0 0 7px -1px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 0 7px -1px rgba(0, 0, 0, .2);
box-shadow: 0 0 7px -1px rgba(0, 0, 0, .2);
}

.allShadow1 {
-moz-box-shadow: 0 0 7px -1px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 0 7px -1px rgba(0, 0, 0, .2);
box-shadow: 0 0 7px -1px rgba(0, 0, 0, .2);
}


.rightBottomShadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.innerShadow1{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.innerShadow2{
box-shadow: inset 0px 0px 13px 1px #B1B1B1;
-webkit-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
-moz-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
-o-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
}

.bottomShadow {
	-webkit-box-shadow: 0 7px 6px -6px grey;
	   -moz-box-shadow: 0 7px 6px -6px grey;
	        box-shadow: 0 7px 6px -6px grey;
}

.textShadow{
    font:100px Lato Bold;
    text-transform:uppercase;
    color:#313543;
    text-align:center;
    margin-top:10%;
    margin-bottom:0px;
    text-shadow:rgba(0,0,0,0.8) 0px -2px 0px,rgba(255,255,255,0.3) 0px 2px 2px;
  }
  
.green{
	color:#57D04F;
}

.red{
	color:#ccc;
	/*color:#fe8e8e;*/
}
  

/* Different Resolution styles */

/*@media only screen and (min-width:641px) and (max-width:1366px) {*/

@media only screen and (min-width:1367px) and (max-width:1440px) {

}

@media only screen and (max-width:1366px) {


}

/*	Layout Styles	*/
html, body{
	/*background-color: #F5F5F5;*/
	/*background-color:#eaedf1;*/
	/*background-image: url(../site_images/background_images/selected/2l.png);	
	background-repeat: repeat;*/
	background-color:#F6F6F6;
}

#container{
	position: relative;
	min-height:100%;
	background-color:#F6F6F6;
}

#firstNav{
	background-color:#D57D7C;
	width:20px;
	height:100%;
	position:fixed;
	left:0;
	z-index:1000;
	
}

#secondNav{
	/*background-color:#262A33;*/
	background-color:#333645;
	width:250px;
	height:100%;
	position:fixed;
	left:0;
	z-index:900;
	
}

#userNameContainer{
	background-color: #45C8DC;
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 100;
	padding-left: 800px;
	color: black;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #e6e6e6;
}

#userNameContainer h1{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	font-size:40px;
	color:#258EA2;
	font-family: 'Lato','Open Sans', sans-serif;
	height:inherit;
	line-height:70px;
}

#allUserInfoTemplatesContainer{
	width:800px;
	margin-left:380px;
	padding-top:120px;
	z-index:1;
}


/* ------------ All Search Container Styles ------------- */
#p_lp_search_container{
	position:fixed;
	top:50%;
	left:2%;
	z-index:1000;
}

/*-- Search Bar Styles --*/

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: 'Lato','Open Sans', sans-serif;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(../site_images/search-icon.png) no-repeat 9px center;
	border: solid 0px white;
	padding: 7px 12px 7px 35px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,5);
	background-color:#252731;
	position:relative;
	right:-40px;
}

input[type=search]:hover {
	background-color:#2c2e3b;
}

input[type=search]:focus {
	width: 130px;
	background-color: #252731;
	border-color: #66CC75;
	color: #666b89;
	right:-10px;	
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* ------------ ERROR Message Modal Styles ------------- */
#error_check_message{
	text-align:center; 
	padding:40px 30px 50px 30px;
}

#error_message_modal_close img{
	cursor:pointer; 
	border-radius:50%; 
	position:absolute; 
	top:7px; 
	right:7px;
	opacity:.7;
}

#error_message_modal_close img:hover{
	opacity:.9;
}


/* ----------- Each P_LP Info Template Styles------------- */

#user_p_lp{
}

.each_user_p_lp{
	width: 800px;
	background-color: #FFFFFF;
	margin-bottom: 50px;
	border-radius: 5px;
	font-family: 'Lato','Open Sans', sans-serif;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	position:relative;
}

/* Top Container */
.p_lp_top_container{
	width: 100%;
	height: 50px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.p_lp_top_container .userImage{
	float:left;
	margin-right:7px;
	border-radius:50%;
	margin-top:12px;
}

h1.p_lp_client_name{
	font-size:30px;
	float:left;
	margin-right:20px;
	color:#E84F4F;
	letter-spacing:0px;
	line-height:50px;
}

.p_lp_location{
	width:300px;
	float:left;
	color:grey;
	font-size:14px;
	line-height:50px;
	margin-top:5px;
}

.p_lp_location h5{
	float:left;
}

.p_lp_leads_container{
	float:right;
	position:relative;
	width:63px;
}

.p_lp_leads_container .pound{
	font-size:45px;
	color:lightgrey;
	opacity:.7;
	position:absolute;
	top:-5px;
}

.p_lp_leads_container .leadsCircle{
	width:30px;
	height:30px;
	border-radius: 50%;
	border: 2px solid rgb(255,153,0);
	position:absolute;
	right:0;
}

.leadsCircle .inside_leads_circle_text{
	display:block;
	width:30px;
	text-align:center;
	position:relative;
	top:6px;
}


.p_lp_leads_container .leadsPlaceHolder{
	font-size:11px;
	letter-spacing:1px;
	position:absolute;
	right:-2px;
	top:38px;
}


/* Middle Container */
.p_lp_middle_container{
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	height:220px;
	color:grey;
}

.p_lp_middle_container .p_lp_middle_first_container{
	float:left;
	width:490px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #eee;
	padding-left:30px;
}

.m_c_i{ /*  Middle ContainerImages  */
	float:left;
	margin-right:7px;s
}

.p_lp_middle_container span{
	float:left;
	color:rgb(51,51,51);
	margin-right:12px;
	margin-top:7px;
	letter-spacing:0px;
}

.p_lp_middle_container .p_lp_url_container{
	float:left;
	margin-bottom:15px;
	width:100%;
}

.p_lp_middle_container .p_lp_email_container{
	float:left;
	margin-bottom:15px;
	width:100%;
}

.p_lp_middle_container .p_lp_notes_container{
	float:left;
	width:100%;
}

h4.p_lp_url{
	font-size:15px;
	float:left;
	width:380px;
	margin-top:8px;
}

.p_lp_url a:hover{
	color:rgb(255,153,0);
}

h4.p_lp_email{
	font-size:15px;
	float:left;
	width:350px;
	margin-top:8px;
}

h4.p_lp_notes{
	font-size: 15px;
	line-height:20px;
	width:320px;
	height:100px;
	float:left;
	text-align:justify;
	margin-top:5px;
}

.p_lp_middle_second_container{
	float:left;
	width:190px;
	margin-left:50px;
	margin-top:10px;
}

.p_lp_middle_second_container h5{
	font-size:13px;
	line-height:15px;
	margin-right:5px;
	word-spacing:3px;
	margin-top:5px;
	color:#444;
	float:left;
}

.p_lp_middle_second_container h4{
	font-size:25px;
	float:right;
	font-weight:300;
}


.google_ad_container, .google_ad_setup_container, .page_complete_container,.renewing_page_container{
	height:40px;
	margin-bottom:10px;
}


/* Bottom Container */
.p_lp_bottom_container{
	color:grey;
	height:30px;
	padding-top:10px;
	padding-bottom:5px;
	font-family: 'Lato','Open Sans', sans-serif;
	line-height:30px;
}

.start_date_container{
	float:left;
	margin-right:50px;
	padding-left:30px;
}

.start_date_container h4{
	float:left;
	font-size:20px;
	letter-spacing:1px;
	font-weight:300;
	color:#3aba32;
}

.start_date_container h5{
	font-size:14px;
	letter-spacing:2px;
	float:left;
	margin-top:2px;
	margin-left:7px;
}

.expire_date_container{
	float:left;
}

.expire_date_container h4{
	float:left;
	font-size:20px;
	letter-spacing:1px;
	font-weight:300;
	color:#FE5B5C;
}

.expire_date_container h5{
	font-size:14px;
	letter-spacing:2px;
	float:left;
	margin-top:2px;
	margin-left:7px;
}

.download_attachment_img, .hide_template_info, .edit_template_info{
	float:right;
	margin-right:10px;
	border-radius:50%;
	opacity:.9;
	-webkit-transform:scale(1);
    transform:scale(1);
}

.editButton{
	float:right;
	margin-top:-1px;
	margin-left:-6px;
	margin-right:-10px;
	
}

.download_attachment_img:hover, .hide_template_info:hover, .editButton:hover{
	opacity:1;
	-webkit-transform:scale(1.2);
    transform:scale(1.2);
	cursor:pointer;

}

.full_template_container{
	width: 220px;
	float: left;
	background-color:white;
}

.show_template{
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	width:220px;
	opacity:1;
	overflow:hidden;
	-webkit-transition: .2s;
	transition: .2s;
	opacity:.9;
}

.show_template .templateImage{
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: .2s;
	transition: .2s;

}

.show_template:hover .templateImage{    
    cursor: pointer;
    -webkit-transform:scale(.8);
    transform:scale(.8);
}

.show_template:hover{
	opacity:.8;
}


.browser_bar{
	height:9px;
	background-color:#E0E0E0;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
}

.dot1{
	width:2px;
	height:2px;
	margin-top:3px;
	margin-left:8px;
	background-color:#7F7F7F;
	float:left;
	border-radius: 150%;
}


