@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*------ COLOR PALLET-----*/
/*
#565347  :  GREY(link & Paragraph)
#81785a  :  LIGHT GREY(border bottom)
#820000  :  RED(Headings)
#eae9e6  :  BORDER
*/

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img, div {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color:inherit;
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

.transition{
	-webkit-transition: .2s;
	transition: .2s;
}

.transition1{
	-webkit-transition: .1s;
	transition: .1s;
}

/*	Layout Styles	*/
html, body{
	background-color: #F5F5F5;
	/*background-color:#eaedf1;*/
	/*background-image: url(../site_images/background_images/selected/2l.png);	
	background-repeat: repeat;*/
	height:100%;
}

#container{
	position: relative;
	min-height:100%;
	
}

/* Fixed Side Bar Styles */
#fixedSidebar{
	position:fixed;
	left:10px;
	z-index:1000 !important;
	top:50%;
	list-style:none;
	background-color:none;
	display:none;
}

#fixedSidebar span{
	font-size:14px;
	position:relative;
	top:6px;
	left:11px;
}

#plumScrollFix, #clientScrollFix, #topFix{
	width: 30px;
	height: 30px;
	color: white;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 2px solid rgb(102,102,102);
	-webkit-transition: .1s;
	transition: .1s;
}

#plumScrollFix:hover, #clientScrollFix:hover, #topFix:hover{
	-webkit-transform:scale(1.2);
    transform:scale(1.2);
	opacity:.9;
}

#plumScrollFix{
	background-color: #e87352;
}

#clientScrollFix{
	background-color:#4ad486;
}

#topFix{
	background-color:#3abec0;
}

/* Introduction Styles */
#introduction{
	width:100%;
	text-align:center;
}

#introduction #introductionContainer{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 1000px;
	font-family: 'Lato',Arial;
	text-align: center;
}

#introduction h1{
	font-size:80px;
	letter-spacing:3px;
	word-spacing:20px;
	line-height:100px;
	font-weight:400;
	 /*background-color: #565656;
  color: transparent;
  text-shadow: -1px 2px 3px rgba(255,255,255,0.8);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;*/
	font:normal 60pt;
 color:#FFFFFF;

 text-shadow: 0 1px 0 #ccc,

 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,

 0 4px 0 #b9b9b9,

 0 5px 0 #aaa,

 0 6px 1px rgba(0,0,0,.1),

 0 0 5px rgba(0,0,0,.1),

 0 1px 3px rgba(0,0,0,.3),

 0 3px 5px rgba(0,0,0,.2),

 0 5px 10px rgba(0,0,0,.25),

 0 10px 10px rgba(0,0,0,.2),

 0 20px 20px rgba(0,0,0,.15);
}

#introduction h2{
	margin-top:100px;
	font-size:30px;
	letter-spacing:3px;
	word-spacing:10px;
	line-height:70px;
	font-weight:400;
	color:#7A1249;
}

#error_check{
	width:500px;
	padding:20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-color:grey;
	border-radius:2%;
	position:relative;
	top:50px;
	border: 3px solid rgb(255,102,0);
}

#error_check span{
	font-size:16px;
	color:white;
}


/* Header Styles */
header{
	height: 81px;
	background-color: #7A1249;
	position: relative;
	z-index: 10;
}

#headerImage{
	width: 110px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	top:0px;
}

/* Footer Styles */
footer{
	float:left;
	width:100%;
	height:90px;
	/*margin-top:80px;*/
	background-color:white;
	position:absolute;
	bottom:0px;
}

footer img{	
	margin-left:auto;
	margin-right:auto;
	margin-top:-8px;
}

footer img:hover{
	opacity:.5;
}

/* Main Buttons Styles */
#mainButtonsBackgroundContainer{
	height:100px;
 	background-color:white;
	position:relative;
	z-index:1;
}

#mainButtonsContainer{
	width:540px;
	height:45px;
	margin-left:auto;
	margin-right:auto;
	padding-top:31px;
	position:relative;
	font-size:14px;
}

#emailButton{
	width:126px;
	padding:10px;
	float:left;
	padding-top:13px;
	padding-bottom:13px;
	background-color:#4ad486;
	color:#c6f1d9;
	letter-spacing:1px;
	text-align:center;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius:7px;
}

#emailButton:hover{
	margin-top:3px;
	background-color:#65db98;
	cursor:pointer;
}


#landingPageButton{
	position:absolute;
	right:0px;
	width:126px;
	padding:10px;
	float:left;
	padding-top:13px;
	padding-bottom:13px;
	background-color:rgba(58,190,192,1);
	color:#c7edee;
	letter-spacing:1px;
	text-align:center;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius:7px;
}

#landingPageButton:hover{
	margin-top:3px;
	background-color:#51c9cb;
	cursor:pointer;
}

#selectCircle{
	display:block;
	height:36px;
	width:36px;
	background-color:lightgrey;
	margin-top:-18px;
	margin-left:250px;
	position:relative;
	left:0px;
	right:0px;
	border-radius:50%;  
    box-shadow:0 0 5px grey;
}

#circleLetter{
	position:absolute;
	width:10px;
	margin-left:265px;
	margin-top:-26px;
	color:white;
	}

#sliderLine{
	width:100%;
	height:1px;
	background-color:lightgrey;
	margin-top:23px;
}

/* Templates Container */
#allEmailTemplatesContainer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display:none;
}

#allLandingPageTemplatesContainer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display:none;
}

#allPlumEmailsContainer{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: .2s;
	transition: .2s;
}

#allClientEmailsContainer{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

h1#plumEmails,h1#clientEmails{
	background-color:#e4e4e4;
	float:left;
	display:block;
	width:100%;
	height:70px;
	font-size:22px;
	color:#444;
	margin-left:auto;
	margin-right:auto;
	font-weight:600;
	letter-spacing:2px;
	word-spacing:6px;
	text-align:center;
	text-shadow: rgba(255,255,255,0.5) 0px 2px 2px;
}
#plumEmails{
	margin-bottom:20px;
}

#clientEmails{
	position:relative;
	margin-bottom:120px;
	top:100px;
}

#plumEmailsContainer{
	margin-top:25px;
	width:550px;
	margin-left:auto;
	margin-right:auto;
}

#clientEmailsContainer{
	margin-top:25px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

.topLineHeading{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ddd;
	width:100%;
	height:2px;
	background-color:white;
	margin-bottom:20px;
}

/* Template Styles */
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.full_template_container{
	width: 315px;
	float: left;
	margin-top:30px;
	margin-left:35px;
	margin-bottom:35px;
}

.browser_bar{
	height:11px;
	background-color:#E0E0E0;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
}

.dot1{
	width:2px;
	height:2px;
	margin-top:4px;
	margin-left:8px;
	background-color:#7F7F7F;
	float:left;
	border-radius: 150%;
}


.show_template{
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	width:315px;
	opacity:1;
	overflow:hidden;
	/*height:263px;*/
	-webkit-transition: .2s;
	transition: .2s;
}


.show_template .templateImage{
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: .2s;
	transition: .2s;

}

.show_template:hover .templateImage{    
    cursor: pointer;
    -webkit-transform:scale(.8);
    transform:scale(.8);
}

.show_template:hover{
	background-color:rgba(161,229,191,.5);
	/*background-color:#a1e5bf;*/
	opacity:.8;
}



.eachTemplateButtonsContainer{
	margin-top: 10px;
	width: 315px;
	height: 35px;
	font-size:14px;
	position: relative;
	background-color: white;
	border: 1px solid #ddd;
	
}

.selectButton{
	width: 157px;
	height:100%;
	position:absolute;
}

.insideSelectButton{
	width:100%;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top:0px;
	left:0px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #67B0D1;
	letter-spacing:0px;
	-webkit-transition: .2s;
	transition: .2s;
}

.selectButton:hover .insideSelectButton{
	cursor:pointer;
	background-color:#afd3e3;
	color:white;
	letter-spacing:5px;
}

.selectButton:active{
	border-style:none; cursor:pointer;  border:0;
}

.selectButton:focus{
	border-style:none; cursor:pointer;  border:0;
}

.viewButton{
	width:158px;
	position:absolute;
	right:0px;
	text-align:center;
	padding-top:11px;
	padding-bottom:10px;
	color: #E87352;
	letter-spacing:0px;
	-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	transition: .2s;
}

.viewButton:hover{
	cursor:pointer;
	background-color:#efb5a5;
	color:white;
	letter-spacing:5px;
}

.buttonsBorder{
	position: absolute;
	height: 100%;
	width: 0px;
	left: 157px;
	background-color:white;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddd;
}

.template_website_url{
	font-size:12px;
	text-align:center;
	color:#181818;
	margin-top:10px;
	letter-spacing:1px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
}

/* Shadows */
.templateAllShadow {
-moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
-webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
}

/*.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 5px grey;
}*/

.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2);
}

.rightBottomShadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.innerShadow1{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.innerShadow2{
box-shadow: inset 0px 0px 13px 1px #B1B1B1;
-webkit-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
-moz-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
-o-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
}

.bottomShadow {
	-webkit-box-shadow: 0 8px 6px -6px grey;
	   -moz-box-shadow: 0 8px 6px -6px grey;
	        box-shadow: 0 8px 6px -6px grey;
}

.textShadow{
    font:100px Lato Bold;
    text-transform:uppercase;
    color:#313543;
    text-align:center;
    margin-top:10%;
    margin-bottom:0px;
    text-shadow:rgba(0,0,0,0.8) 0px -2px 0px,rgba(255,255,255,0.3) 0px 2px 2px;
  }
  
  
/* Templates Edit Page Styles */
.transition1{
	-webkit-transition: .1s;
	transition: .1s;
}

.edit_icons{
	padding:10px 100px 0px 100px
}

.edit_icons img{
	border: 2px solid rgb(102,102,102);
	position:relative;
	top:0px;
}

.edit_icons img:hover{
	top:3px;
}

.hide_icon{
	border-radius:50%;
	float:left;
}

.edit_icon{
	border-radius:50%;
	float:right;
}

.edit_icon_button{
	position:absolute;
	margin-left:39px;
	margin-top:-3px;
	cursor:pointer;
}






/* Different Resolution styles */

/*@media only screen and (min-width:641px) and (max-width:1366px) {*/

@media only screen and (min-width:1367px) and (max-width:1440px) {

#allPlumEmailsContainer{
	width: 1360px;
}

#allClientEmailsContainer{
	width: 1360px;

}

.full_template_container{
	margin:0px;
	margin-top:25px;
	margin-left:25px;
	margin-bottom:20px;
}

}

@media only screen and (max-width:1366px) {

#allPlumEmailsContainer{
	width: 1050px;
}

#allClientEmailsContainer{
	width: 1050px;
}

}